{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue sur Prostages !</h1>

<p>
	Cette page montrera les stages
</p>

<ul> 
	<li>
		<a href="{{path('prostages_ressource', {id:5})}}">Stage 1</a>
	</li>
	<li>
		<a href="{{path('prostages_ressource', {id:6})}}">Stage 2</a>
	</li>
	<li>
		<a href="{{path('prostages_ressource', {id:7})}}">Stage 3</a>
	</li>
</ul>
{% endblock %}